@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper, .portfolio {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
 
}
.navbar {
 display: flex;
 justify-content: space-between;
 padding: 2em;
 position: fixed;
 background-color: #2b3058;
 width: 100%;
 height: 10px;
  
}

.brand span{ 
 color: #3EC8A2;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-weight: 501;
  font-size: 15px;
}

.menu li {
  list-style: none;
}
.menu a {
 color: #fff;
 text-decoration: none;
 padding: 10px 20px;
}

.menu .active{
  color: #3EC8A2;
}
.menu a:hover{
  background-color: grey;
  transition: ease-in .4s;
  
}

.activar-menu,
.info-contenido, .redessociales-main{
  display: none;
}

.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}
.main h1{
  font-size: clamp(4vw, 1.5em, 3em);
}
.imagen-main{
  width: 350px;
  border: 4px solid #3EC8A2;
  height: 520px;
  min-height: 300px;
  margin-top: 80px;
}
span {
  color: #3EC8A2;
}
.descargar{
  padding: 10px 20px;
  background-color: #3EC8A2;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px  3px  11px -5px rgba(102,231,200,0,69);
  -moz-box-shadow: 1px  3px  11px -5px rgba(102,231,200,0,69);
  box-shadow: 1px  3px  11px -5px rgba(102,231,200,0,69);
}

.descargar:hover {
  background-color: azure;
  box-shadow: none;
}


.sobremi{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  margin-top: 15px;
  
}

.sobremi img {
  max-width: 100%;
  grid-column: 1/5;
}
.sobremi-info{
  grid-column: 5/10;
  padding: 2em;
}

.sobremi-info h2{
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #3EC8A2;
  margin-top: 5px;
  margin-bottom: 2em;
}

.sobremi p {
  margin-bottom: 1em;
  color:black;
  font-weight: 501;
}

.portfolio-encabezados{
  width: 100vw;
  padding: 5em;
}

.portfolio-encabezados h2{
  font-size: 2.5em;
}
.contenedor{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjeta{
  width: 300px;
  height: 390px;
  background-color: rgb(54, 81, 134);
}
.tarjeta .card_titulo{
  padding: 1em;
  font-size: 15px;
}
.tarjeta_img{
  width: 100%;
  height: 150px;
  background-image: url(./img/2-original.png);
  background-size: cover;
}
.links_proyectos{
  display: flex;
  justify-content: space-evenly;
}
.links_proyectos a{
  color: #fff;
}
.links_proyectos i{
  margin-top: 10px;
  font-size: 1.5em;
}
.tarjeta .detallesproyecto{
  display: flex;
  align-self: center;
  margin: 1em;
}

.tarjeta .detallesproyecto a {
  text-decoration: none;
  
}

.detalles-proyecto-conten{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.seccioncontacto{
  padding: 3em;
  margin: 0 auto;
  background-color: #161931;
  color: #fff;
}
.contacto-encabezados{
  font-size: 1.5em;
}
.seccioncontacto img{
  opacity: 10%;
  width: 750px;
  height: 700px;
  bottom: 0px;
  
}
.contenedor-contacto{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
 
}
.formulario{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.formulario input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.formulario textarea{
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.btn-submit{
padding: 10px 20px;
margin: 1em;
border: none;
text-transform: uppercase;
background-color: #3EC8A2;
border-radius: 20px;
cursor: pointer;
box-shadow: 1px  3px  11px -5px rgba(102,231,200,0,69);
}

.btn-submit:hover{
background-color: #fff;
box-shadow: none;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: aquamarine;
  
}

.contenido-footer,
.redes-sociales{
  font-size: 1.5em;
}
.redes-sociales{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 800px){
  .menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }
  .menu li {
    margin: 2em;
  }
  .activar-menu{
    display: block;
  }
  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }
  .activar-menu .fa-close{
    font-size: 1.7em;
    display: none;
  }
.main, .sobremi {
  display: flex;
  flex-direction: column-reverse;
  }
  
  .main img{
    width: min(70%, 350px);
    max-height: 100%;
  }
  .contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .info-contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 501;
  }
  .info-contenido-p,.descargar,.foto-contacto{
    display: none;
    }
  .info-contenido {
    margin-bottom: .5em;
  }
 
  .redessociales-main{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-top: 20px;
  }
  .formulario {
    width: 80vw;
  }
}
  
